version: '3.8'

services:
  mosquitto:
    image: eclipse-mosquitto
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  web:
    build: ../web-mqtt
    container_name: web-app
    ports:
      - "3000:3000"
    volumes:
      - ../web-mqtt:/app
      - /app/node_modules
    depends_on:
      - mosquitto
    environment:
      - MQTT_BROKER=mqtt://mosquitto:1883
    command: ["node", "server.js"]

